body {
    font-family: "Montserrat", sans-serif;
}

body::before {
  content: "";
  position: fixed;
  inset: 0;
  background: url("./img/santa.jpeg") center / cover no-repeat;
  z-index: -1;
}


.heading {
    display: flex;
    justify-content: center;
}

h1 {
    font-size: 60px;
    background-color: rgba(251, 248, 249, 0.9);
    padding: 20px;
    border: 3px solid black;
}

.container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-left: 20px;
    margin-right: 20px;
}

.christmass {
    background-color: rgba(251, 248, 249, 0.82);
    height: 300px; 
    width: 200px;
    margin-top: 50px;
    border: 3px solid black;
}

.block {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h3 {
    font-size: 30px;
}

.days, .hours, .second, .minute {
    font-size: 40px;
}

.red {
    font-size: 60px;
    font-family: "Staatliches", sans-serif;
    color: red;
    background: linear-gradient(135deg, #e0e0e0, #c0c0c0, #a0a0a0 70%);
    padding: 30px;
    border: 10px solid #ccc;
    mask-image: radial-gradient(circle, transparent 40%, #000 41%) 0 0 / 20px 20px,
              radial-gradient(circle, #000 40%, transparent 41%) 10px 10px / 20px 20px;
    letter-spacing: 0.2em;
}

.silver, .silverTwo {
    background: linear-gradient(135deg, #e0e0e0, #c0c0c0, #a0a0a0 70%);
    border: 10px solid #ccc;
    mask-image: radial-gradient(circle, transparent 40%, #000 41%) 0 0 / 20px 20px,
              radial-gradient(circle, #000 40%, transparent 41%) 10px 10px / 20px 20px;
}

button {
    margin-left: 250px;
    border: none;
}

.imgColor {
    background: linear-gradient(135deg, #e0e0e0, #c0c0c0, #a0a0a0 70%);
    border: 10px solid #a0a0a0 70%;
    background-blend-mode: overlay;
    filter: grayscale(100%) brightness(1.2);
    mask-image: radial-gradient(circle, transparent 40%, #000 41%) 0 0 / 20px 20px,
              radial-gradient(circle, #000 40%, transparent 41%) 10px 10px / 20px 20px;

}

@media all and (max-width: 800px) {
    
    h1 {
     font-size: 40px;   
    }
    .red {
        font-size: 35px;
        padding: 5px;
    }
    .container {
      align-items: center;
      padding: 5px;
      gap: 12px;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(1, 1fr);
    }
    .christmass {
      gap: 8px;
      
      
    }
}

@media all and (max-width: 500px) {
    h1 {
     font-size: 30px;
     flex:1;   
    }
      .red {
       font-size: 30px;
       padding: 5px;
    }
    button {
        margin-left: 20px;
    }
}
